<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="colorPattern">%highlight{%-5level %logger{36}.%M() @%L - %msg%xEx{full}%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=blue}</Property>
        <Property name="filePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M() @%L - %msg%xEx{full}%n</Property>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${colorPattern}" disableAnsi="false"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="${basePath}/library.log"
                     filePattern="${basePath}/library-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${filePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ErrorLog"
                     fileName="${basePath}/error.log"
                     filePattern="${basePath}/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${filePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.unab_library.modules" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Logger name="com.unab_library.common.exception" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorLog"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>